.controls {
    position: fixed;
    background: white;
    margin: 12px 0 0 12px;
    padding: 8px;
    border-radius: 4px;
}

.colorContainer {
    height: 24px;
}

.colorOption {
    border-radius: 4px;
    width: 24px;
    height: 24px;
    margin: 2px;
    float: left;
    text-align: center;
    cursor: pointer;
}

.formControl {
    padding: 8px 0 8px 0;
}
